@font-face {
    src: url('./fonts/Roboto-Regular.ttf');
    font-family: 'Regular-Roboto';
}

* {
    box-sizing: border-box;
    font-family: 'Regular-Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.desktop {
    height: 100%;
    width: 100%;
    background-image: url('./images/wallpaper_2.jpg');
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
}

.taskbar {
    height: var(--height-taskbar);
    width: var(--witdth-taskbar);
    position: absolute;
    bottom: 0;
    background-color: var(--taskbar-background-color);
}

.taskbar>.start-button>img {
    transition: var(--transition-delay-icons);
    height: 100%;
    background-color: unset;
}

.taskbar>.start-button {
    background-color: unset;
    border: 0px;
    height: var(--height-taskbar);
    width: var(--height-taskbar);
}

.taskbar>.icon {
    height: 100%;
    width: var(--height-taskbar);
}

.taskbar>.icon>img {
    transition: var(--transition-delay-icons);
    padding: 5px 5px;
    height: 100%;
    background-color: unset;
}

.taskbar>.icon>img:hover,
.taskbar>.start-button>img:hover {
    transition: var(--transition-delay-icons);
    background-color: rgba(255, 255, 255, 0.322);
    cursor: pointer;
}

.taskbar>.date-box {
    float: right;
    color: #ffff;
    padding-right: 5px;
}

.taskbar>#system-info {
    float: right;
    height: var(--height-taskbar);
    width: auto;
    padding-right: 10px;
}

.taskbar>#system-info>#wifi-info {
    float: right;
    height: var(--height-taskbar);
    width: auto;
    padding-right: 10px;
}

#init-menu {
    bottom: var(--height-taskbar);
    left: 0;
    width: 200px;
    height: 300px;
    background-color: var(--taskbar-background-color);
    color: #ffff;
}

#init-menu>.option {
    padding: 10px;
}

#init-menu>.option>.shut-down {
    height: 100%;
    cursor: pointer;
    width: 100%;
    background-color: red;
    color: #ffff;
    display: block;
    text-align: center;
    align-self: center;
}

#init-menu>.option>.reboot {
    height: 100%;
    cursor: pointer;
    width: 100%;
    background-color: rgb(50, 20, 200);
    color: #ffff;
    display: block;
    text-align: center;
    align-self: center;
}

:root {
    --height-taskbar: 37px;
    --witdth-taskbar: 100%;
    --transition-delay-icons: 400ms;
    --taskbar-background-color: rgba(0, 0, 0, .7);
    text-rendering: optimizeLegibility;
    shape-rendering: crispEdges;
    image-rendering: optimizeQuality;
}
